<%= form_with model: article, local: true do |f|%>
  <div class="field">
    <%= f.label :image, "Photo" %><br />
    <%= f.file_field :image, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :country, "Country" %><br />
    <%= f.text_field :country, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :city, "City,Town" %><br />
    <%= f.text_field :city, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :season, "Date" %><br />
    <%= f.text_field :season, autocomplete: "off", id:"prototype_image" %>
  </div>

  <div class="field">
    <%= f.label :english_id, "Able to communicate in English" %><br />
    <%= f.collection_select(:english_id, English.all, :id, :name, {}, {autocomplete: "off", id:"prototype_image"}) %>
  </div>

  <div class="field">
    <%= f.label :safe_id, "Safety level" %><br />
    <%= f.collection_select(:safe_id, Safe.all, :id, :name, {}, {autocomplete: "off", id:"prototype_image"}) %>
  </div>

  <div class="field">
    <%= f.label :nice_id, "Recommended level" %><br />
    <%= f.collection_select(:nice_id, Nice.all, :id, :name, {}, {autocomplete: "off", id:"prototype_image"}) %>
  </div>

  <div class="field">
    <%= f.label :content, "Free article" %><br />
    <%= f.text_area :content, autocomplete: "off", id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "Contribute", class: :form__btn  %>
  </div>
<% end %>