<%= form_with model: article, local: true do |f|%>
  <div class="field">
    <%= f.label :images, "Photos cannot be edited" %><br />
    <%= f.file_field :images, name: 'article[images][]', class: :form_image, id:"article_images" %>
  </div>
  <div id="image-list"></div>
  <% @article.images.each do |image| %>
  <%= image_tag image, class: 'images' %>
<% end %>

  <div class="field">
    <%= f.label :country, "Country" %><br />
    <%= f.text_field :country, placeholder: "Country in english", class: :form__text, id:"article_country" %>
  </div>

  <div class="field">
    <%= f.label :city, "City,Town" %><br />
    <%= f.text_field :city, placeholder: "Cities and cities in English", class: :form__text, id:"article_city" %>
  </div>

  <div class="field">
    <%= f.label :season, "Date" %><br />
    <%= f.text_field :season, placeholder: "●●●●-●●-●●", autocomplete: "off", class: :form__date, id:"article_season" %>
  </div>

  <div class="field">
    <%= f.label :english_id, "Able to communicate in English" %><br />
    <%= f.collection_select(:english_id, English.all, :id, :name, {}, {autocomplete: "off", class: :select, id:"article_english_id"}) %>
  </div>

  <div class="field">
    <%= f.label :safe_id, "Safety level" %><br />
    <%= f.collection_select(:safe_id, Safe.all, :id, :name, {}, {autocomplete: "off", class: :select, id:"article_safe_id"}) %>
  </div>

  <div class="field">
    <%= f.label :nice_id, "Recommended level" %><br />
    <%= f.collection_select(:nice_id, Nice.all, :id, :name, {}, {autocomplete: "off", class: :select, id:"article_nice_id"}) %>
  </div>

  <div class="field">
    <%= f.label :content, "Free article  (example ・hotel ・Cash exchange ・transportation)" %><br />
    <%= f.text_area :content, class: :form__content, autocomplete: "off", id:"article_content" %>
  </div>

  <div class="actions">
    <%= f.submit "Contribute", class: :form__btn  %>
  </div>
<% end %>