<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @article.country %>
      </p>
      <%= link_to "by #{@article.user.nickname}", user_path(@article.user.id), class: :prototype__user %>

      <% if user_signed_in? && current_user.id == @article.user_id %>
        <div class="prototype__manage">
          <%= link_to "Edit", edit_article_path, class: :prototype__btn %>
          <%= link_to "Delete", article_path, method: :delete, class: :prototype__btn %>
        </div>
      <% end %>

      <div class="prototype__image">
        <% @article.images.each do |image| %>
          <%= image_tag image, class: :card__imgs %>
        <% end %>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">Recommended level</p>
          <p class="detail__message">
            <%= @article.nice.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Safety level</p>
          <p class="detail__message">
            <%= @article.safe.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">City,Town</p>
          <p class="detail__message">
            <%= @article.city %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Date</p>
          <p class="detail__message">
            <%= @article.season %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Able to communicate in English</p>
          <p class="detail__message">
            <%= @article.english.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Free article</p>
          <p class="detail__message">
            <%= @article.content %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">

      <% if user_signed_in? %>
          <%= form_with(model: [@article, @comment], local: true) do |f| %>
            <div class="field">
              <%= f.label :comment, "Comment", class: :comment_font %><br />
              <%= f.text_field :comment, class: :comment_form, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "Send", class: :form__btn3  %>
            </div>
          <% end %>
      <% end %> 

        <ul class="comments_lists">
            <% @comments.each do |comment| %>
              <% if comment.present? %>
                <li class="comments_list">
                  <%= comment.comment %>
                  <%= link_to comment.user.nickname, user_path(comment.user.id), class: :comment_user %>
                </li>

                <% comment.replies.each do |reply| %>
                  <% if reply.present? %>
                    <li class="comments_list">
                      <%= reply.reply %>
                      <%= link_to reply.user.nickname, user_path(reply.user.id), class: :comment_user %>
                    </li>
                  <% end %>
                <% end %>

                <% if user_signed_in? %>
                  <div class="field">
                    <%= form_with(model: [comment, @reply], local: true) do |f| %>
                    <%= f.text_field :reply, class: :comment_form, id:"comment_text" %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Reply", class: :form__btn2 %>
                  </div>
                    <% end %>
                <% end %>    
              <% end %>
            <% end %>

            <ul class="collapsible">
              <div class="collapsible-header">
                <i class="material-icons">
              </div>
            </ul>
          </ul>
      </div>
    </div>
  </div>
</main>

