<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @article.country %>
      </p>
      <%= link_to "by #{@article.user.nickname}", user_path(@article.user.id), class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @article.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_article_path, class: :prototype__btn %>
          <%= link_to "削除する", article_path, method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
      <div id="image-list"></div>
        <% @article.images.each do |image| %>
        <%= image_tag image, class: 'images' %>
      <% end %>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">Recommended level</p>
          <p class="detail__message">
            <%= @article.nice.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Safety level</p>
          <p class="detail__message">
            <%= @article.safe.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">City,Town</p>
          <p class="detail__message">
            <%= @article.city %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Date</p>
          <p class="detail__message">
            <%= @article.season %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Able to communicate in English</p>
          <p class="detail__message">
            <%= @article.english.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Free article</p>
          <p class="detail__message">
            <%= @article.content %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
         <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
      <% if user_signed_in? %>
          <%= form_with(model: [@article, @comment], local: true) do |f| %>
            <div class="field">
              <%= f.label :text, "Comment" %><br />
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "Send", class: :form__btn  %>
            </div>
          <% end %>
        <% end %> 
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <% @comments.each do |comments| %>
              <li class="comments_list">
                <%= comments.text %>
                <%= link_to comments.user.nickname, user_path(comments.user.id), class: :comment_user %>
              </li>
            <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>

