<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @article.country %>
      </p>
      <%= link_to "by #{@article.user.nickname}", "#", class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @article.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_article_path, class: :prototype__btn %>
          <%= link_to "削除する", article_path, method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @article.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">Recommended level</p>
          <p class="detail__message">
            <%= @article.nice.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Date</p>
          <p class="detail__message">
            <%= @article.season %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
         <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
      
      </div>
    </div>
  </div>
</main>
